html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  height: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

h1, h2, h3, h4 {
  font-family: 'Rock Salt', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #D3FAFF;
  transition: 0.3s;
}

.mc_embed_signup {
  font-family: 'Raleway', sans-serif;
}

.asterisk {
  color: red;
  font-size: 1.5em;
}

.required-email {
  padding: 5px;
}

.button {
  background-color: #24A5B1;
  border: none;
  padding: 15px;
}

.button:hover {
  cursor: pointer;
  background-color: #33EAFF;
}

.footer {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000000;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  color: #fcf9f9;
}
