.App {
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-family: 'Raleway', sans-serif;
}

.App-header {
  width: 100%;
  background-color: black;
  display: flex;
  padding: 0 20px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  /*position: fixed;*/
}

.App-logo {
  height: 70px;

}

.App-intro {
}
